.linkTextNavSubHead {
  color: #1C247C;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
 }

 #aerial {
  height: 250px;
  width: 100%;
 }

 #footer, #navfoot {
  position: fixed;
  left: 0;
  bottom: 0; 
  right: 0; 
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

li {
  list-style-type: none;
 }

#fjd {
  height: 5rem;
  width: 100%;
  border-radius: 100%;
  border: 1px solid white;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#fjd:hover {
  -webkit-filter: brightness(110%);
}

#navhead {
    background-image: url("resources/images/flag.png"); 
    background-repeat: repeat-x;
    background-size: 250px;
}

#navfoot {
  background-image: url("resources/images/flag.png");
  background-repeat: repeat-x;
  background-size: 1000px;
}

h1 {
  text-align: center;
  padding: 5px;
  color: #1C247C;
  font-family: 'Oswald', sans-serif;
}

p {
  text-align: center;
  padding: 10px;
  padding-bottom: 100px;
}

#lottie {
  padding-top: 10px;
}

@media screen and (max-width: 700px) {
  #navhead {
    background-image: url("resources/images/flag.png");
    background-repeat: repeat-x;
    background-size: 1000px;
  }

  #fjd {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
}

